<script id="search-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar class="bar bar-header item-input-inset starter-search-bar">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input id="searchModalInput" ng-model="searchConfig.term" type="search"
                       placeholder="Suche"
                       ng-model-options='{ debounce: 1500 }'
                       ng-change="changeSearchTerm()">
            </label>
            <button ng-click="stopSearch()" class="button button-stable button-clear">
                Schließen
            </button>
        </ion-header-bar>
        <ion-content>
            <ion-list>

                <ion-item
                        ng-click="exitSearch()"
                        class="item-text-wrap"
                        ng-repeat="item in events | filter : searchConfig.term">
                    <div>
                        <div class="program-category-indicator"
                             ng-if="item.categoryId"
                             ng-style="{'background-color': itemConfigurations.categoryColors[item.categoryId]};">
                            &#8203;
                        </div>
                        <div class="program-title-description">
                            <a class="text-link" ng-href="#/app/events/{{item.serverId}}">
                                <div class="program-event-name">{{item.name}}</div>
                                <div>
                                    <p>
                                        <strong>
                                            {{eventCategoryName(item)}}
                                        </strong>
                                        <span ng-if="item.categoryId && categoriesNotToShow.indexOf(categoryNames[item.categoryId]) == -1">
                                            {{categoryNames[item.categoryId]}}
                                        </span>
                                    </p>

                                </div>
                            </a>
                        </div>
                    </div>
                </ion-item>

                <ion-item
                        ng-click="exitSearch()"
                        ng-repeat="item in speakers | filter : searchConfig.term"
                        ng-href="#/app/speakers/{{item.serverId}}" >

                    <div ng-if="item._type == 'Speaker'" class="item-avatar" >
                            <img ng-cache
                                 ng-src="https://www.mannheim-forum.org/sites/default/files/mfschedule/speaker/thumbs/{{item.picturePath}}"
                                 ng-if="item.picturePath" />
                            <img ng-cache
                                 ng-src="img/person_placeholder_thumb.png"
                                 ng-if="!item.picturePath" />

                                {{item.title}} {{item.name}}
                                <p>{{item.shortDescription}}</p>

                    </div>

                </ion-item>

                <a ng-click="exitSearch()"
                   ng-repeat="item in partners | filter : searchConfig.term"
                   class="item item-thumbnail-left partners-list-item" ng-href="#/app/partners/{{item.serverId}}">
                    <img ng-cache
                         ng-src="https://www.mannheim-forum.org/sites/default/files/mfschedule/company/thumbs/{{item.logoPath}}" />
                    <span>
                            {{item.name}}
                    </span>
                </a>

            </ion-list>
        </ion-content>
    </div>
</script>

<ion-view>
    <ion-content>
        <div class="card" ng-show="news.length == 0">
            <div class="item item-text-wrap">
                <h2>Herzlich Willkommen beim <br />Mannheim Forum</h2>
                <p>Über den App-Newsticker halten wir dich rund um die Uhr mit den wichtigsten Neuigkeiten rund um das Mannheim Forum auf dem Laufenden.</p>
            </div>
        </div>
        <div class="card" ng-show="news.length == 0">
            <ion-item>
                Momentan gibt es noch keine News.
            </ion-item>
        </div>
        <ion-list class="list" ng-show="news.length > 0">
            <div class="card">
                <div class="item item-text-wrap">
                    <h2>Herzlich Willkommen beim <br />Mannheim Forum</h2>
                    <p>Über den App-Newsticker halten wir dich rund um die Uhr mit den wichtigsten Neuigkeiten rund um das Mannheim Forum auf dem Laufenden.</p>
                </div>
            </div>

            <div class="card" ng-repeat="newsItem in news | orderBy : 'createdAt' : true | limitTo : 7" ng-click="gotoItem(newsItem.serverId)">
                <div class="item item-divider item-text-wrap item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                    {{newsItem.title}}
                    <p>{{dateFormat(newsItem.createdAt)}}</p>
                </div>
                <div class="item">
                    <p class="news-item-teaser news-item-content" dynamic-content="newsItem.content"
                       style=""></p>
                </div>
            </div>
        </ion-list>

    </ion-content>
    <ion-footer-bar class="item-input-inset hide-on-keyboard-open starter-search-bar">
        <div class="item-input-wrapper" ng-click="startSearch()">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input 
                   type="search"
                   placeholder="Suche"
 		           disabled >
        </div>
    </ion-footer-bar>
</ion-view>

