<script id="search-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input ng-model="searchConfig.term" type="search"
                       placeholder="Suche" ng-change="changeSearchTerm()">
            </label>
            <button ng-click="stopSearch()" class="button button-clear">
                Cancel
            </button>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item
                        ng-repeat="item in items | filter : searchTerm"
                        ng-class="{'item-thumbnail-left' : item._type == 'Partner'}">

                    <div ng-if="item._type == 'Event'">
                        <div class="program-category-indicator"
                             ng-if="item.categoryId"
                             ng-style="{'background-color': itemConfigurations.categoryColors[item.categoryId]};">
                            &#8203;
                        </div>
                        <div class="program-title-description">
                            <a ng-href="#/app/events/{{item.serverId}}">
                                <div class="program-event-name">{{item.name}}</div>
                                <div>
                                    <p>
                                        <span ng-if="item.categoryId">
                                            {{itemConfigurations.categoryNames[item.categoryId]}}
                                        </span>
                                        <span ng-if="isWorkshop(item)">
                                            Workshop
                                        </span>
                                        <span ng-if="!isWorkshop(item)">
                                            Hauptevent
                                        </span>
                                    </p>

                                </div>
                            </a>
                        </div>
                    </div>

                    <div ng-if="item._type == 'Speaker'" class="item-avatar" >
                        <a ng-href="#/app/speakers/{{speaker.serverId}}">
                            <img ng-cache
                                 ng-src="https://www.mannheim-forum.org/sites/default/files/mfschedule/speaker/thumbs/{{item.picturePath}}"
                                 ng-if="item.picturePath" />
                            <img ng-cache
                                 ng-src="img/person_placeholder_thumb.png"
                                 ng-if="!item.picturePath" />
                            {{item.title}} {{item.name}}
                            <p>{{item.shortDescription}}</p>
                        </a>
                    </div>

                    <img ng-cache
                         ng-if="item._type == 'Partner'"
                         ng-src="https://www.mannheim-forum.org/sites/default/files/mfschedule/company/thumbs/{{item.logoPath}}" />
                    <span ng-if="item._type == 'Partner'" ng-href="#/app/partners/{{item.serverId}}">
                        {{item.name}}
                        <p>{{item.longDescription}}</p>
                    </span>

                </ion-item>

            </ion-list>
        </ion-content>
    </div>
</script>

<ion-view>
    <ion-content>

    </ion-content>
    <ion-footer-bar class="item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input ng-model="searchConfig.term" type="search"
                   placeholder="Suche"  ng-change="changeSearchTerm()">
        </label>
        <button ng-click="startSearch()" class="button button-clear">
            Suchen
        </button>
    </ion-footer-bar>
</ion-view>

