<script id="search-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input ng-model="searchTerm" type="search" placeholder="Suche">
            </label>
            <button ng-click="stopSearch()" class="button button-clear">
                Cancel
            </button>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-text-wrap" ng-repeat="item in items | filter : searchTerm">
                    {{item.name}}
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</script>

<ion-view>
    <ion-content>

    </ion-content>
    <ion-footer-bar class="item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input ng-model="searchTerm" type="search" placeholder="Suche">
        </label>
        <button ng-click="startSearch()" class="button button-clear">
            Suchen
        </button>
    </ion-footer-bar>
</ion-view>

