<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.mafoapp"
        version="0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap   = "http://phonegap.com/ns/1.0">
    <name>Mannheim Forum</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="patrick.rein@gmail.com" href="https://wwww.mannheim-forum.org/">
        Patrick Rein
    </author>
    <content src="index.html"/>

    <access origin="http://*.mannheim-forum.org"/>
    <access origin="https://*.mannheim-forum.org"/>

    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="File">
        <param name="ios-package" value="CDVFile" />
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <gap:plugin name="org.apache.cordova.device.Device" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.file.FileUtils" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.filetransfer.FileTransfer" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.inappbrowser.InAppBrowser" source="plugins.cordova.io" />
</widget>
