<ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{'CONTACT_TITLE' | translate}}</h2>
</ion-header-bar>

<ion-view>
    <ion-tabs class="tabs-royal">
        <ion-tab title="{{'CONTACT_TAB_CONTACT' | translate}}">
            <ion-view>
                <ion-content>
                    <div class="card">
                        <div class="item item-icon-left item-text-wrap">
                            <i class="icon ion-ios-telephone"></i>
                            {{'CONTACT_INTRO' | translate}}<strong>0176/96674544</strong>.
                        </div>
                    </div>

                    <div class="card">
                        <div class="item item-divider">
                            <strong>Mannheim Forum e.V.</strong>
                        </div>
                        <div class="item item-icon-left item-text-wrap">
                            <i class="icon ion-home"></i>
                            Schloss, Postfach 9
                            68131 Mannheim
                        </div>
                        <div class="item item-icon-left item-text-wrap">
                            <i class="icon ion-ios-telephone"></i>
                            0157/54812371
                        </div>
                        <div class="item item-divider">
                            Vorstand
                        </div>
                        <div class="item item-text-wrap">
                            Navdeep Kaur Ghothra, Tim Neumann, Paula Purps
                        </div>
                        <div class="item item-divider">
                            Registernummer
                        </div>
                        <div class="item item-text-wrap">
                            VR 700518, Vereinsregister Mannheim
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="{{'CONTACT_TAB_PARTICIPATE' | translate}}">
            <ion-view>
                <ion-content>
                    <form
                         name="contactForm"
                         ng-submit="sendMessage(message)"
                         class="list list-inset"
                         novalidate="">

                        <div class="item item-divider ">
                            {{'CONTACT_PARTICIPATE_QUESTION' | translate}}
                        </div>

                        <div class="item item-text-wrap">
                            <p>{{'CONTACT_PARTICIPATE_INTRO' | translate}}</p>
                        </div>

                        <div class="item form-errors"
                             ng-messages="contactForm.$error"
                             ng-show="contactForm.$submitted">
                            <div class="form-error" ng-message="required">{{'CONTACT_PARTICIPATE_FORM_EMPTY_ERROR' | translate}}</div>
                        </div>
                        <div class="item form-errors"
                             ng-show="dataWasSaved">
                            <div class="form-success" ng-show="dataWasSaved">{{'CONTACT_PARTICIPATE_FORM_SUCCESS_MESSAGE' | translate}}</div>
                        </div>

                        <label class="item item-input">
                            <input type="text"
                                   name="firstname"
                                   placeholder="{{'CONTACT_PARTICIPATE_FORM_FIELD_FIRSTNAME' | translate}}"
                                   ng-model="message.firstName"
                                   ng-required="true" />
                        </label>

                        <label class="item item-input">
                            <input type="text"
                                   name="lastname"
                                   placeholder="{{'CONTACT_PARTICIPATE_FORM_FIELD_LASTNAME' | translate}}"
                                   ng-model="message.lastName"
                                   ng-required="true" />
                        </label>

                        <label class="item item-input">
                            <input type="text"
                                   name="email"
                                   placeholder="{{'CONTACT_PARTICIPATE_FORM_FIELD_EMAIL' | translate}}"
                                   ng-model="message.email"
                                   ng-required="true" />

                        </label>

                        <label class="item item-input">
                            <textarea placeholder="{{'CONTACT_PARTICIPATE_FORM_FIELD_MOTIVATION' | translate}}"
                                      name="messageContent"
                                      rows="4"
                                      ng-required="true"
                                      ng-model="message.message"></textarea>
                        </label>

                        <input type="submit" value="{{'CONTACT_PARTICIPATE_FORM_SEND_BUTTON' | translate}}" class="button button-block button-positive activated" />

                    </form>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
