<ion-header-bar class="bar bar-subheader">
    <h2 class="title">Kontakt</h2>
</ion-header-bar>

<ion-view>
    <ion-content>
        <form
             name="contactForm"
             ng-submit="sendMessage(message)"
             class="list list-inset"
             novalidate="">

            <div class="item item-divider item-text-wrap">
                Schreib uns wenn du mithelfen möchtest das Mannheim Forum 2016 umzusetzen.
                <div class="form-errors"
                     ng-messages="contactForm.$error"
                     ng-show="contactForm.$submitted">
                    <div class="form-error" ng-message="required">Alle Felder müssen ausgefüllt sein.</div>
                </div>
                <div class="form-success" ng-show="dataWasSaved">Ihre Daten wurden gespeichert.</div>

            </div>

            <label class="item item-input">
                <input type="text"
                       name="firstname"
                       placeholder="Vorname"
                       ng-model="message.firstName"
                       ng-required="true" />
            </label>

            <label class="item item-input">
                <input type="text"
                       name="lastname"
                       placeholder="Nachname"
                       ng-model="message.lastName"
                       ng-required="true" />
            </label>

            <label class="item item-input">
                <input type="text"
                       name="email"
                       placeholder="EMail"
                       ng-model="message.email"
                       ng-required="true" />

            </label>

            <label class="item item-input">
                <textarea placeholder="Warum möchtest du mithelfen das Mannheim Forum 2016 umzusetzen?"
                          name="messageContent"
                          rows="4"
                          ng-required="true"
                          ng-model="message.message"></textarea>
            </label>

            <input type="submit" value="Absenden" class="button button-block button-positive activated" />

        </form>

        <div class="card">
            <div class="item item-divider item-text-wrap">
                Direkter Kontakt bei Fragen und Wünschen
            </div>
            <div class="item item-text-wrap">
                participants@mannheim-forum.org
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Mannheim Forum e.V. Kontakt
            </div>
            <div class="item item-text-wrap">
                This is a basic Card with some text.
            </div>
        </div>
    </ion-content>
</ion-view>
