<ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{'CONTACT_TITLE' | translate}}</h2>
</ion-header-bar>

<ion-view>
    <ion-tabs class="tabs-royal">
        <ion-tab title="{{'CONTACT_TAB_CONTACT' | translate}}">
            <ion-view>
                <ion-content>
                    <div class="card">
                        <div class="item item-icon-left item-text-wrap">
                            <i class="icon ion-ios7-telephone"></i>
                            {{'CONTACT_INTRO' | translate}}<strong>0157/54812371</strong>.
                        </div>
                    </div>

                    <div class="card">
                        <div class="item item-divider">
                            <strong>Mannheim Forum e.V.</strong>
                        </div>
                        <div class="item item-icon-left item-text-wrap">
                            <i class="icon ion-home"></i>
                            Schloss, Postfach 9
                            68131 Mannheim
                        </div>
                        <div class="item item-icon-left item-text-wrap">
                            <i class="icon ion-ios7-telephone"></i>
                            0157/54812371
                        </div>
                        <div class="item item-divider">
                            Managing Comittee
                        </div>
                        <div class="item item-text-wrap">
                            Simon Krause, Lukas Bäuerle, Jakob Krämer, Iliana Chimarrides
                        </div>
                        <div class="item item-divider">
                            Register Number
                        </div>
                        <div class="item item-text-wrap">
                            VR 700518, Vereinregister Mannheim
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
