<ion-header-bar class="bar bar-subheader">
    <h2 class="title">Kontakt</h2>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="list list-inset">
            <div class="item item-divider item-text-wrap">
                Schreib uns wenn du mithelfen möchtest das Mannheim Forum 2016 umzusetzen.
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Vorname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Nachname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="EMail">
            </label>
            <label class="item item-input">
                <textarea placeholder="Warum möchtest du mithelfen das Mannheim Forum 2016 umzusetzen?" rows="4"></textarea>
            </label>

            <button class="button button-block button-positive activated">Submit</button>
        </div>

        <div class="card">
            <div class="item item-divider item-text-wrap">
                Direkter Kontakt bei Fragen und Wünschen
            </div>
            <div class="item item-text-wrap">
                participants@mannheim-forum.org
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Mannheim Forum e.V. Kontakt
            </div>
            <div class="item item-text-wrap">
                This is a basic Card with some text.
            </div>
        </div>
    </ion-content>
</ion-view>
