<script id="planner-day.html" type="text/ng-template">
    <ion-scroll planner-scroll direction="xy">
    <table class="mafo-planner padding">
        <tr ng-repeat="slot in day.slots">
            <td class="mafo-planner-time"
                ng-class="{ 'mafo-planner-even-row' : (($index/4) % 2 < 1) == 0,
                            'mafo-planner-odd-row'  : (($index/4) % 2 < 1) == 1 }">{{($index%4 == 0) ? slot.timeString : ""}}</td>
            <td class="mafo-planner-event"
                ng-repeat="event in slot.events"
                rowspan="{{event.duration.asMinutes() / 15}}">
                <p class="mafo-planner-event-title">{{event.name}}</p>
                <p class="mafo-planner-event-time">{{event.timeString}}</p>
                <div class="mafo-planner-event-room"></div>
            </td>
            <td ng-repeat="i in [1,2,3,4,5,6,7,8,9]"
                ng-class="{ 'mafo-planner-even-row' : (($index/4) % 2 < 1) == 0,
                            'mafo-planner-odd-row'  : (($parent.$index/4) % 2 < 1) == 1 }">
            </td>
        </tr>
    </table>
    </ion-scroll>
</script>

<ion-header-bar class="bar bar-subheader">
    <h2 class="title">Planer</h2>
</ion-header-bar>
<ion-view>
    <ion-tabs class="tabs-royal">
        <ion-tab title="Do">
            <ion-view><ion-content scroll="false" class="padding">
                <mafo-planner-day day="days[0]" slots="slots"></mafo-planner-day>
            </ion-content></ion-view>
        </ion-tab>

        <ion-tab title="Fr">
            <ion-view><ion-content scroll="false" class="padding">
                <mafo-planner-day day="days[1]" slots="slots"></mafo-planner-day>
            </ion-content></ion-view>
        </ion-tab>

        <ion-tab title="Sa">
            <ion-view><ion-content scroll="false" class="padding">
                <mafo-planner-day day="days[2]" slots="slots"></mafo-planner-day>
            </ion-content></ion-view>
        </ion-tab>

        <ion-tab title="Info">
            <ion-view><ion-content class="padding">
                <p>Mit dem MaFo-Planer kannst du dir deinen persönlichen Stundenplan für das Mannheim Forum

                    zusammenstellen. Veranstaltungen hinzufügen kannst du, indem du in der Programmübersicht auf

                    den Stern hinter dem jeweiligen Programmpunkt tippst – die Veranstaltung wird dann automatisch in

                    deinen Planer übernommen. Mehr Informationen über eine Veranstaltung oder eine Veranstaltung

                    löschen kannst du, indem du auf den jeweiligen Eintrag in dem Planer drückst.

                    Alternativ kannst du dir manuell einen Termin eintragen (siehe unter dem Planer).</p>

            </ion-content></ion-view>
        </ion-tab>
    </ion-tabs>


</ion-view>
