<ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{'EVENT_TITLE' | translate}}</h2>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="card">
            <div class="item">
                <h2>{{event.name}}</h2>
                <p class="item-short-description">
                    <span ng-if="event.categoryId" ng-style="{color: topicCategoryColor(event)}">
                        {{topicCategoryName(event) | translate}}
                    </span>
                    <span ng-if="isWorkshop(event)">
                        {{'EVENT_WORKSHOP_LABEL' | translate}}
                    </span>
                </p>
            </div>

            <div class="item item-icon-left item-text-wrap" ng-if="event.startTime && event.endTime">
                <i class="icon ion-ios-clock-outline"></i>
                {{dayFormat(event.startTime)}}: {{timeFormat(event.startTime)}} - {{timeFormat(event.endTime)}}
            </div>

            <div class="item item-icon-left  item-icon-right item-text-wrap" ng-if="event.roomId > 0" >
                <i class="icon ion-ios-home-outline"></i>
                <a class="text-link" ng-if="eventRoom.mapImagePath && eventRoom.mapImagePath != ''" ng-href="#/app/room/{{event.roomId}}">{{eventRoom.name}}</a>
                <a class="text-link" ng-if="!(eventRoom.mapImagePath && eventRoom.mapImagePath != '')" >{{eventRoom.name}}</a>
                <i class="icon ion-ios-location" ng-if="eventRoom.mapImagePath && eventRoom.mapImagePath != ''"></i>
            </div>

            <div class="item item-divider" ng-if="event.longDescription">
                {{'EVENT_DESCRIPTION_TITLE' | translate}}
            </div>
            <div class="item" ng-if="event.longDescription">
                <p class="item-long-description" dynamic-content="event.longDescription"></p>
            </div>

            <div class="item item-divider" ng-if="speakersForEvent.length > 0">
                {{'EVENT_SPEAKERS_LIST_TITLE' | translate}}
            </div>
            <ion-item class="item item-view-association-list"  ng-repeat="speaker in speakersForEvent" ng-href="#/app/speakers/{{speaker.serverId}}">
                {{speaker.title}} {{speaker.name}}
            </ion-item>

        </div>
    </ion-content>
</ion-view>
