<ion-header-bar class="bar bar-subheader">
    <h2 class="title">
        {{'EVENTINFO_TITLE' | translate}}
    </h2>
</ion-header-bar>
<ion-view>
    <ion-content>

        <div class="card event-info-card">
            <div class="item item-divider item-text-wrap">
                <h2>Herzlich Willkommen zum Mannheim Forum 2015</h2>
            </div>
            <div class="item item-text-wrap">
                <p>Der Mannheimer Forum e.V. ist eine Studenteninitiative der Universität Mannheim und

                    wurde im Frühjahr 2012 mit dem Ziel gegründet, einen jährlich stattfindenden Kongress im

                    Barockschloss Mannheim mit 500 Teilnehmerinnen und Teilnehmern aus ganz Deutschland

                    zu etablieren. Im Gespräch zwischen Studierenden und Entscheidungsträgern aus Wirtschaft,

                    Politik, Wissenschaft und Kultur steht für uns eine angeregte Diskussion aktueller

                    Herausforderungen im Vordergrund.</p>



                <p>Vom 10.-12. März 2016 findet das Mannheim Forum bereits zum vierten Mal statt. Unter dem

                    Titel „<emph>(ohne)</emph> Grenzen?“ wird das Mannheim Forum 2016 Grenzen aus den sechs

                    Perspektiven Wirtschaft, Unternehmertum, Politik, Kultur, Sicherheit und Technologie

                    beleuchten.

                    Wir freuen uns, an diesen drei Tagen namhafte Referierende wie Bundestagspräsident Norbert

                    Lammert, „Mr. Dax“ Dirk Müller, Linken-Politiker Gregor Gysi, Ex-Justizministerin Sabine

                    Leutheusser-Schnarrenberger, Hacker Linus Neumann, Titanic-Chefredakteur Tim Wolff und

                    der Vorsitzende des Zentralrats der Muslime Aiman Mazyek sowie zahlreiche Partner aus den

                    verschiedensten Branchen begrüßen zu dürfen.</p>



                <p>Neben den Hauptveranstaltungen, den Vertiefungs- und Unternehmensworkshops sorgt ein

                    bunt gemischtes Rahmenprogramm, bestehend aus Get-together, Karrieremesse, Dinnerevent

                    und Abschlussparty, für reichlich Abwechslung und die Möglichkeit zum Austausch mit

                    anderen Studierenden und Vertreterinnen und Vertretern unserer Partner.</p>



                <p>Unser Ziel ist es, den Teilnehmern des Mannheim Forum die Möglichkeit zu geben, durch

                    Gedankenaustausch und Ideen inspiriert zu werden, neue Impulse und Perspektiven zu

                    erhalten, und dabei den eigenen Horizont zu erweitern. Das Mannheim Forum ist inzwischen

                    als fester Bestandteil des akademischen Kalenders der Universität Mannheim etabliert und

                    bietet sowohl Studierenden als auch Alumni und anderen Interessensgruppen eine informative

                    und unterhaltsame Plattform.</p>

            </div>
        </div>

    </ion-content>
</ion-view>
