<ion-header-bar class="bar bar-subheader">
    <h2 class="title">
        {{'EVENTINFO_TITLE' | translate}}
    </h2>
</ion-header-bar>
<ion-view>
    <ion-content>

        <div class="card event-info-card">
            <div class="item item-divider item-text-wrap">
                <h2>Herzlich Willkommen zum Mannheim Forum 2015</h2>
            </div>
            <div class="item item-text-wrap">
                <p>Der Mannheim Forum e.V. ist eine Studenteninitiative der Universität Mannheim und wurde im

                    Frühjahr 2012 mit dem Ziel gegründet, einen jährlich stattfindenden Kongress im Barockschloss

                    Mannheim mit 500 Teilnehmerinnen und Teilnehmern aus ganz Deutschland zu etablieren. Im

                    Gespräch zwischen Studierenden und Entscheidungsträgern aus Wirtschaft, Politik, Wissenschaft und

                    Kultur steht für uns eine angeregte Diskussion aktueller Herausforderungen im Vordergrund.</p>



                <p>Vom 05.-07. März 2015 findet das Mannheim Forum bereits zum dritten Mal statt. Unter dem Titel

                    <emph>„<strong>Zeit</strong>Fragen“</emph> wird das Mannheim Forum 2015 das Thema "Zeit" aus den sechs Perspektiven

                    Wirtschaft, Unternehmertum, Politik, Kultur, Sicherheit und Technologie beleuchten.

                    Wir freuen uns, an diesen drei Tagen namhafte Referierende wie Prof. Peter Bofinger, Wolfgang

                    Kubicki, Tom Bartels und Peter Sloterdijk sowie zahlreiche Partner aus den verschiedenste Branchen

                    begrüßen zu dürfen.</p>



                <p>Neben den Hauptveranstaltungen, den Vertiefungs- und Unternehmensworkshops sorgt ein bunt

                    gemischtes Rahmenprogramm, bestehend aus Get-together, Karrieremesse, Dinnerevent und

                    Abschlussparty, für reichlich Abwechslung und die Möglichkeit zum Austausch mit anderen

                    Studierenden und Vertreterinnen und Vertretern unserer Partner.</p>



                <p>Unser Ziel ist es, den Teilnehmern des Mannheim Forum die Möglichkeit zu geben, durch

                    Gedankenaustausch und Ideen inspiriert zu werden, neue Impulse und Perspektiven zu erhalten, und

                    dabei den eigenen Horizont zu erweitern. Zudem soll das Mannheim Forum ein fester Bestandteil des

                    akademischen Kalenders der Universität Mannheim werden und sowohl Studierenden als auch

                    Alumni eine informative und unterhaltsame Plattform bieten.</p>



                <p>Nach bereits zwei erfolgreichen Veranstaltungen in den vergangenen beiden Jahren freuen wir uns,

                    dich zum dritten Mannheim Forum an der Universität Mannheim begrüßen zu dürfen.</p>

                <strong>Dein Mannheim Forum Team</strong>
            </div>
        </div>

    </ion-content>
</ion-view>
