<ion-header-bar class="bar bar-subheader">
    <h2 class="title">
        {{'EVENTINFO_TITLE' | translate}}
    </h2>
</ion-header-bar>
<ion-view>
    <ion-content>

        <div class="card event-info-card">
            <div class="item item-divider item-text-wrap">
                <h2>Welcome to the Mannheim Forum 2016</h2>
            </div>
            <div class="item item-text-wrap">
                <p>The Mannheimer Forum e.V. is one of Mannheim University’s student intiatives and was founded in the spring of 2012 with the goal to establish and organize an annual congress taking place at the university’s castle with 500 participants. Taking place for the fourth time in 2016, for the first time, non-German speakers are invited to participate in the International Day on March 12, 2016.</p>

                <p>Each year, the Mannheim Forum focuses on one overall theme and builds a platform for students and decision makers from the economy, politics, science and culture to discuss current challenges connected to this topic. For 2016, the topic is “(without) borders?” (German: (ohne) Grenzen?). Borders – a word that can be associated with lots of different things. Where and how do we touch or cross borders in life? What kind of borders are there in the contexts of economy, politics and culture – and how are we influenced by them? During our forum we aim to find spirited, convincing and surprising answers to this kind of questions. Which borders can we finally cross, which should be reinforced?</p>

                <p>We are happy to be able to welcome high-class speakers for our discussions and workshops once again. Apart from the main program, consisting of the Mannheim Forum Spezial discussion and workshops, we offer a multi-facetted framework-program including the Mannheim Forum Kasino (career fair), lunch and a closing party at Tiffany, one of Mannheim’s night club. This program was built to enable further exchange between participants as well as with our corporate partners. </p>

                <p>Our goal is to give participants of the Mannheim Forum the chance to get inspired through the exchange of thoughts and ideas, to receive new impulses and perspectives and thereby to expand one’s own horizon. The Mannheim Forum has become an important component of the academic calendar of Mannheim University and offers an informative and entertaining platform for students and all other stakeholders each year. </p>

            </div>
        </div>

    </ion-content>
</ion-view>
