<ion-header-bar class="bar bar-subheader">
    <h2 class="title">
        {{'EVENTINFO_TITLE' | translate}}
    </h2>
</ion-header-bar>
<ion-view>
    <ion-content>

        <div class="card event-info-card">
            <div class="item item-divider item-text-wrap">
                <h2>Herzlich Willkommen zum Mannheim Forum</h2>
            </div>
            <div class="item item-text-wrap">
<p>Der Mannheim Forum e.V. ist eine Studierendeninitiative der Universität Mannheim
und wurde im Frühjahr 2012 mit dem Ziel gegründet, einen jährlich stattfindenden
Kongress im Barockschloss Mannheim mit 500 Teilnehmerinnen und Teilnehmern aus
ganz Deutschland zu etablieren. Im Gespräch zwischen Studierenden und
Entscheidungsträgern aus Wirtschaft, Politik, Wissenschaft und Kultur steht für
uns eine angeregte Diskussion aktueller Herausforderungen im Vordergrund.</p>

<p>Vom 16.-18. März 2017 findet das Mannheim Forum bereits zum fünften Mal statt.
Mit dem hochaktuellen Thema „Umbruch zum Aufbruch“ wollen wir in drei Tagen und
aus sechs Perspektiven folgenreiche Veränderungen und Umbrüche unserer Welt und
die mit dem Ablöseprozess einhergehenden Konflikte von Neu und Alt beleuchten.
Wir freuen uns, an diesen drei Tagen namhafte Referierende wie
Ex-Vorstandsmitglied der Deutschen Bundesbank Dr. Joachim Nagel, Senior Adviser
der EZB Klaus Löber, den Bundesvorsitzender der Deutschen Polizeigewerkschaft
Rainer Wendt, die Parteivorsitzende Der Linken Katja Kipping und ZDF
Beauftragter Robert Amlung sowie zahlreiche Partner aus den verschiedensten
Branchen begrüßen zu dürfen.</p>

<p>Neben den Hauptveranstaltungen, den Unternehmensgesprächen und den Vertiefungs-
und Unternehmensworkshops sorgt ein vielfältiges Rahmenprogramm, bestehend aus
Get-together, Karrieremesse, Dinnerevent und Abschlussparty, für reichlich
Abwechslung.</p>

<p>Ziel des Mannheim Forum ist es, unseren Teilnehmern die Möglichkeit zu bieten,
durch den Austausch von Gedanken und Ideen inspiriert zu werden, neue Impulse
und Perspektiven zu erhalten und dabei den eigenen Horizont zu erweitern. Das
Mannheim Forum ist inzwischen als fester Bestandteil des akademischen Kalenders
der Universität Mannheim etabliert und stellt sowohl für Studierende als auch
Alumni und andere Interessensgruppen eine informative und unterhaltsame
Plattform dar.</p>

            </div>
        </div>

    </ion-content>
</ion-view>
