<ion-header-bar class="bar bar-subheader">
    <h2 class="title">Lageplan</h2>
</ion-header-bar>
<ion-view>
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-50 map-col">
                <img src="img/assets/mfschedule/room/Lageplan_EG_grau.jpg" />
                <div class="map-caption">EG</div>
            </div>
            <div class="col col-50 map-col">
                <img src="img/assets/mfschedule/room/Lageplan_OG_grau.jpg" />
                <div class="map-caption">OG</div>
            </div>
        </div>
        <ion-scroll map-list id="map-room-list" class="map-room-scroll" direction="y" has-bouncing="false">
            <ion-list>
                <ion-item class="item-text-wrap" ng-repeat="room in rooms | orderBy : 'name'"
                          ng-href="#/app/rooms/{{room.serverId}}">
                    {{room.name}}
                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>
