<ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{'MAP_TITLE' | translate}}</h2>
</ion-header-bar>
<ion-view>
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-50 map-col">
                <a ng-href="#/app/room/eg"><img ng-cache
                    ng-src="https://anmeldung.mannheim-forum.org/sites/default/files/mfschedule/room/Lageplan_EG_grau.jpg"/></a>
                <div class="map-caption">{{'MAP_GROUND_FLOOR' | translate}}</div>
            </div>
            <div class="col col-50 map-col" ng-href="#/app/room/og">
                <a ng-href="#/app/room/og"><img ng-cache
                    ng-src="https://anmeldung.mannheim-forum.org/sites/default/files/mfschedule/room/Lageplan_OG_grau.jpg"/></a>
                <div class="map-caption">{{'MAP_UPPER_FLOOR' | translate}}</div>
            </div>
        </div>
        <div class="item item-divider"> {{'MAP_ROOM_LIST_TITLE' | translate}} </div>
        <ion-scroll map-list id="map-room-list" class="map-room-scroll" direction="y" has-bouncing="false">
            <ion-list>
                <ion-item   class="item-text-wrap" ng-repeat="room in rooms | filter : {name : '!tba'} | orderBy : 'name'"
                            ng-href="#/app/room/{{room.serverId}}">
                    {{room.name}}
                </ion-item>
                <ion-item></ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>
