<ion-header-bar class="bar bar-subheader">
    <h2 class="title">Partner</h2>
</ion-header-bar>
<ion-view>
    <ion-content>
        <ion-list>
            <div class="item item-divider" ng-if="platinPartners.length > 0">
                Platin Partner
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in platinPartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>

            <div class="item item-divider" ng-if="goldPartners.length > 0">
                Gold Partner
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in goldPartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>

            <div class="item item-divider" ng-if="silverPartners.length > 0">
		Silber Partner
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in silverPartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>

            <div class="item item-divider" ng-if="bronzePartners.length > 0">
                Bronze Partner
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in bronzePartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>

            <div class="item item-divider" ng-if="startupPartners.length > 0">
                StartUp Partner 
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in startupPartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>

            <div class="item item-divider" ng-if="supplyPartners.length > 0">
                Supply Partner 
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in supplyPartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>

            <div class="item item-divider" ng-if="mediaPartners.length > 0">
                Media Partner
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in mediaPartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>

            <div class="item item-divider" ng-if="otherPartners.length > 0">
                Weitere Partner
            </div>
            <ion-item class="partners-list-item item-thumbnail-left"
                      ng-repeat="partner in otherPartners | orderBy : partnerName"
                      ng-href="#/app/partners/{{partner.serverId}}">
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/companys/thumbs/{{partner.logoPath}}" />
                {{partner.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
