<ion-header-bar class="bar bar-subheader">
    <h2 class="title">Partner</h2>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="card">

            <div class="item item-image">
                <img ng-cache src="https://www.mannheim-forum.org/sites/default/files/mfschedule/company/{{partner.logoPath}}" />
            </div>

            <div class="item partner-name">
                <h2>{{partner.name}}</h2>
            </div>

            <div class="item item-icon-left item-text-wrap" ng-if="partner.website">
                <i class="icon ion-laptop"></i>
                <a onClick="window.open(this.href, '_system', 'location=yes'); return false;" ng-href="http://{{partner.website}}">Website</a>
            </div>

            <div class="item item-icon-left item-text-wrap" ng-if="partner.address">
                <i class="icon ion-home"></i>
                {{partner.address||'N/A'}}
            </div>

            <div class="item item-icon-left item-text-wrap" ng-if="partner.nameOfContact">
                <i class="icon ion-person"></i>
                {{partner.nameOfContact||'N/A'}}
            </div>

            <div class="item item-icon-left item-text-wrap" ng-if="partner.email">
                <i class="icon ion-email"></i>
                {{partner.email||'N/A'}}
            </div>

            <div class="item item-divider" ng-if="workshopsOfPartner.length > 0">
                Workshops
            </div>

            <ion-item class="item-text-wrap" ng-repeat="workshop in workshopsOfPartner" ng-href="#/app/events/{{workshop.serverId}}">
                {{workshop.name}}
            </ion-item>

            <div class="item item-divider" ng-if="partner.longDescription">
                Beschreibung
            </div>

            <div class="item" ng-if="partner.longDescription">
                <p class="item-long-description">{{partner.longDescription}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
