<ion-view>
    <ion-tabs class="tabs-positive">
        <ion-tab ng-repeat="day in days | orderBy:dates" title="{{day.displayName}}">
            <h1>Programm</h1>
            <ion-list>
                <div ng-repeat-start="timeslot in day.slots | orderBy:startTimes" class="item item-divider">
                    {{timeslot.displayName}}
                </div>
                <ion-item ng-repeat="event in timeslot.events">
                    <span ng-if="isWorkshop(event)">
                        Workshop:
                    </span>
                    {{event.name}}
                </ion-item>
                <div ng-repeat-end></div>
            </ion-list>
        </ion-tab>
    </ion-tabs>
</ion-view>
