<ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{'SPEAKER_TITLE' | translate}}</h2>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="card">
            <div class="item">
                <h2>{{speaker.title}} {{speaker.name}}</h2>
                <p class="item-short-description">{{speaker.shortDescription}}</p>
            </div>
            <div class="item item-image">
                <img class="item-speaker"
                     ng-src="img/person_placeholder.png"
                     ng-if="!speaker.picturePath"></i>
                <img ng-cache
                     class="item-speaker"
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/speaker/{{speaker.picturePath}}"
                     ng-if="speaker.picturePath">
            </div>

            <div class="item" ng-if="speaker.longDescription">
                <p class="item-long-description" dynamic-content="speaker.longDescription"></p>
            </div>

            <div class="item item-divider" ng-if="eventsForSpeaker.length > 0">
                {{'SPEAKER_EVENTS_LIST_TITLE' | translate}}
            </div>

            <ion-item class="item item-view-association-list" ng-repeat="event in eventsForSpeaker" ng-href="#/app/events/{{event.serverId}}">
                {{event.name}}
            </ion-item>

        </div>
    </ion-content>
</ion-view>
