<ion-header-bar class="bar bar-subheader">
    <h2 class="title">{{'SPEAKERS_TITLE' | translate}}</h2>
</ion-header-bar>
<ion-view>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar"
                      ng-repeat="speaker in speakers | filter : shouldBeShown | orderBy : lastName"
                      ng-href="#/app/speakers/{{speaker.serverId}}">
                <!--<img src="" class="icon ion-person speaker-list-icon" ng-if="!speaker.picturePath" />

                ng-class="{'item-icon-left': !speaker.picturePath, 'item-avatar' : speaker.picturePath}"-->
                <img ng-cache
                     ng-src="https://anmeldung.mannheim-forum.org/media/schedule/speaker/thumbs/{{speaker.picturePath}}"
                     ng-if="speaker.picturePath" />
                <img ng-src="img/person_placeholder_thumb.png"
                     ng-if="!speaker.picturePath" />
                {{speaker.title}} {{speaker.name}}
                <p>{{speaker.shortDescription}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
