<ion-header-bar class="bar bar-subheader">
    <h2 class="title">Referenten</h2>
</ion-header-bar>
<ion-view>
    <ion-content>
        <ion-list>
            <ion-item ng-class="{'item-icon-left': !speaker.picturePath}"
                      ng-repeat="speaker in speakers | filter : shouldBeShown | orderBy : lastName"
                      ng-href="#/app/speakers/{{speaker.serverId}}">
                <i class="icon ion-person speaker-list-icon" ng-if="!speaker.picturePath"></i>
                {{speaker.title}} {{speaker.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
