/* Empty. Add your own CSS if you like */

.bar.bar-stable.bar-header {
    background-color: rgb(103, 20, 15);
    color: #FFFFFF;
}

.bar.bar-stable .button, .bar.bar-stable .title {
    color: #FFFFFF;
}

img.nav-title-image {
    margin-top: 8px;
    height: 25px;
}

@media (max-width: 359px) {
    img.nav-title-image {
        height: 21px;
        margin-top:12px;
    }
}

.bar-subheader .title {
    text-align: center;
}

/* Tabs */
.mafo-tabs {
    background-color: rgb(103, 20, 15);
    color: #FFFFFF;
}

/* Item View */
p.item-long-description, p.item-short-description,
p.item-long-description p,
.item-view-association-list a {
    overflow: auto;
    white-space: normal;
}

.item-image {
    padding: 10px;
}

.item-image img {
    width:auto !important;
    height: 80px;
}

.card .item h2 {
    font-weight: bold;
    overflow: auto;
    white-space: normal;
}

p.item-long-description p
{
    margin-bottom: 1em;
}

/* Partner list */
.partners-list-item a {
    overflow: auto;
    white-space: normal;
}

/* Person view symbol */
.speaker-view-icon {
    font-size:8em; margin-left:auto; margin-right: auto;
}

/* Program list */
.program-category-indicator {
    width: 0.5ex;
    padding-left: 0.5ex;
    display:table-cell;
}

.program-event-name {
    overflow: auto;
    white-space: normal;
}

.program-title-description {
    display:table-cell;
    padding-left: 1ex;
    width: 100%;
}

.program-title-description a {
    text-decoration: none;
    color: inherit;
}

.program-favorite-event {
    display:table-cell;
    vertical-align: middle;
}

.program-favorite-event i {
    font-size: 2em;
    color: orange;
}

/* Contact form */
.form-errors.ng-inactive {
    display: none;
}

.form-errors {
    font-size: 0.9em;
    color: #a13208;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}