/* Empty. Add your own CSS if you like */

.bar.bar-stable.bar-header {
    background-color: rgb(103, 20, 15);
    color: #FFFFFF;
}

.bar.bar-stable .button {
    color: #FFFFFF;
}

.bar.bar-stable .title {
    color: #FFFFFF;
}

.nav-title-image {
    margin-top: 8px;
    height: 27px;
}

/* Tabs */
.mafo-tabs {
    background-color: rgb(103, 20, 15);
    color: #FFFFFF;
}

/* Speaker View */
p.speaker-short-description {
    overflow: auto;
    white-space: normal;
}